
@media (max-width: 450px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-left {
        flex-basis: auto;
    }
    .nav-item {
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
        align-items: center;
    }
    .nav-item > .level-item {
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
    .level-item > .icon {
        vertical-align: baseline;
    }
}

.subtitle {
    font-size: 20px;
}
